@import url('./reset.css');

header {
    width: 100%;
    height: 60px;
    align-items: center;
}
.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    padding: 0 20px;
    height: 100%;
}

.header__menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

#logo_youtube {
    width: 90px;
    height: 20px;
}

.header__search {
    display: flex;
    align-items: center;
}

#txtSearch {
    width: 348px;
    height: 40px;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    box-shadow: 0 0 0 0;
    font-size: 18px;
    color: #535252;
}

#txtSearch:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.search_btn {
    width: 57px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
}

.header__Notifications {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

#perfil {
    width: 34px;
    height: 34px;
    border-radius: 50px;
}

/* SECTION CONTENT */

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 1410px;
    margin-top: 28px;
    flex-wrap: wrap;
    gap: 20px;
}

/* SECTION CONTAINER RIGHT */
.container__right {
    width: 60%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.video__page img {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.video__info-canal {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 10%;
   
}

.canal {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 32px;
    align-items: center;
}

#canal_img {
    width: 42px;
    height: 42px;
}

.canal_inscritos {
    display: flex;
    align-items: center;
    gap: 12px;
}

.canal_inscritos_txt {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.canal_inscritos p {
    font-size: 12px;
    color: #515151;
}

#follow_btn {
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    background-color: red;
    border: none;
}

#canal_option {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
}

.info_text {
    margin-top: -10px;
}

.info_text p {
    margin-top: 8px;
    color: #515151;
    font-size: 13px;
    text-align: justify;
    width: 500px;
    line-height: 1.2;
}

/* SECTION CONTAINER LEFT */
.container__left {
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    gap: 4px;
}

.card__videos {
    display: flex;
    gap: 10px;
    align-items: center;
}

.card__videos-img img {
    background-size: cover;
    background-position: center;
    object-fit: cover;
  
}

.card__videos-info {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
}

.item {
    flex-grow: 1;
}

.card__videos-info p {
    font-size: 12px;
    color: #515151;
}
